@use "../../styles/variables";

.body__header {
    width: 2660px;
    height: 132px;
    margin-left: 218px;
    margin-top: 123px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
}