@use "../../styles/variables";

.heading3 {
    color: variables.$red;

    font: {
        family: variables.$secondary-font;
        size: 24px;
    }

    letter-spacing: 1.5px;

    text: {
        align: center;
    }
}