@use "../../../styles/variables";

.agent-image_hover {
    &:hover {
        transition: all 0.5s;
        background-color: variables.$grey-100;
        outline: 1px solid variables.$grey-700;
    }
}