@use "../../styles/variables";

.heading1 {
    font: {
        family: variables.$secondary-font;
        size: 156px;
    }

    letter-spacing: 9px;

    text: {
        transform: uppercase;
    }

    -webkit-text-stroke: 2px variables.$white;
    -webkit-text-fill-color: transparent;
}